.landscape-left-row{
    display: grid;
    grid-template-columns: 550px 265px 265px;
    gap: 10px;
    margin-bottom: 10px;
}

.landscape-right-row{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 10px;
    margin-bottom: 10px;
}

.no-landscape-row{
    display: grid;
    grid-template-columns: repeat(4 , 1fr); /*allows to define large number of columns or rows having same pattern*/
    gap: 10px;
    margin-bottom: 10px;
}

.landscape-middle-row{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
}

.giphy-tile{
    height: 280px;
    overflow: hidden;
    position: relative;
}

.giphy-tile img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px 4px 0px 0px;
}

.text-tile{
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.line-top-purple {
    background-color: #9933ff;
  }
  
  .line-middle-purple {
    background-color: #6d24b7;
  }
  
  .line-bottom-purple {
    background-color: #521d88;
  }
  
  .line-top-sunshine {
    background-color: #d4ca4d;
  }
  .line-middle-sunshine {
    background-color: #b4ac44;
  }
  .line-bottom-sunshine {
    background-color: #938c37;
  }
  .line-top-turqoise {
    background-color: #00ccff;
  }
  
  .line-middle-turqoise {
    background-color: #18a6ca;
  }
  .line-bottom-turqoise {
    background-color: #127189;
  }
  .line-top-bluepurple {
    background-color: #6157ff;
  }
  
  .line-middle-bluepurple {
    background-color: #4339c6;
  }
  
  .line-bottom-bluepurple {
    background-color: #2f2888; 
  }
  
  
  
  .overlay-purple {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 0;
    transition: 0.5s ease;
    background: linear-gradient(
      0deg,
      rgba(153, 51, 255, 0.8506838905775076) 7%,
      rgba(224, 224, 224, 0) 30%
    );
  }
  
  .overlay-turqoise {
    background: linear-gradient(0deg, #00ccff 7%, #e0e0e000 30%);
  }
  .overlay-sunshine {
    background: linear-gradient(0deg, #d4ca4d 7%, #e0e0e000 30%);
  }
  .overlay-bluepurple {
     background: linear-gradient(0deg, #6157ff 7%, #e0e0e000 30%);
  }